{% load static %}
<nav class="navbar navbar-expand-lg navbar-modern shadow-sm py-3">
  <div class="container">

    <a class="navbar-brand d-flex align-items-center gap-2" href="/">
      <img src="{% static 'appstage/img/logo.png' %}" width="38" class="rounded">
      <span class="text-dark">AppStage</span>
    </a>

    <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarPublic">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarPublic">

      <ul class="navbar-nav me-auto gap-3">
        <li class="nav-item">
          <a class="nav-link" href="/offres/">
            <i class="bi bi-briefcase me-1"></i> Offres
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/offres/deposer/">
            <i class="bi bi-upload me-1"></i> Déposer une offre
          </a>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto gap-3">
        <li class="nav-item">
          <a class="nav-link fw-semibold" href="/login/">
            <i class="bi bi-box-arrow-in-right me-1"></i> Connexion
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold text-primary" href="/register/">
            <i class="bi bi-person-plus me-1"></i> Créer un compte
          </a>
        </li>
      </ul>

    </div>
  </div>
</nav>
